
body{
    display: flex;
    flex-direction: column;
    background: #B0C4DE ;
    justify-content: center;
    align-items: center;
    min-height: 700px;
}

.gridSizes{
    margin: 10px;
}

.grid{
    display: grid;
    
    
    grid-auto-rows:  1fr;
    background-color: white;
    width: 150vw;
    height: 150vw;
    max-width: 500px;
    max-height:  500px;
}

.gridItem{
    border: solid #eae8e4;
    border-width: 1px;

}

.colorContainer{
    display: flex;
    max-width: 50vw;
    align-items: center;

    margin-top: 30px;
    padding: 20px;
}
.color{
    margin: 1px;
}

img{
    width: 100%;
    height: auto;
}