
body{
    display: flex;
    flex-direction: column;
    background: grey;
    justify-content: center;
    align-items: center;
    min-height: 700px;
}

.gridSizes{
    margin: 10px;
}

.grid{
    display: grid;
    
    
    grid-auto-rows:  1fr;
    background-color: white;
    width: 150vw;
    height: 150vw;
    max-width: 500px;
    max-height:  500px;
}

.gridItem{
    border: solid #eae8e4;
    border-width: 1px;

}